doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    ul <!-- TODO: make these into proper navbars with CSS -->
      li 
        a(href="/sleep_entries") Sleep Entries
      li 
        a(href="/sleep_entries/search") Search
      li 
        a(href="/settings") Settings
      li 
        a(href="/sleep_entries/new") Create New Entry
    block content
